@font-face {
    font-family: 'prestige-elite-std';
    src: url(../font/prestige-elite-std.otf);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BFDBF7;

}
.nav{
    display: flex;
    margin-right: 6%;
    gap: 5%;
}
.nav a{
    text-decoration: none;
    font-family: prestige-elite-std;
    color: #022B3A;
    font-weight: 600;
    font-size: 3vh;
    margin-right: 2vh;
}