#menuButton{
    display: none;
    width: 50px;
}
.logoCelular{
    display: none;
}
@media (max-width: 768px){
    header{
        height: 10vh;
    }
    .logoCelular{
        display: block;
    }
    .logoDesktop{
        display: none;
    }
    #botaoFechar{
        display: none;
    }
    #menuButton{
        display: block;
        background-color: #BFDBF7;
        border-style: none;
    }
    #nav a{
        display: none;
    }
    #nav.active{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        width: 60vw;
    }
    #nav.active a{
        display: flex;
        font-size: 1.2rem;
        margin-top: 5vh;
    }
    #nav.active button{
        display: none;
    }


    .fotoPrincipal{
        height: 70vh;
    }
    .textPrincipal{
        display: flex;
        margin-top: 2vh;
        text-align: center;
        font-size: 1.5rem;
    }
    #botaoRolagem{
        margin-top: 2vh;
    }

    #biografia{
        flex-direction: column;
        font-family: prestige-elite-std;
    }
    .textBio{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .imgBio{
        width: 100vw;
        
        margin: 0;
    }
    #h1-mobile{
        display: block;
        text-align: center;
    }
    .textBio h1{
        font-size: 2rem;
        margin: 0;
    }
    .textBio p{
        font-size: 1.2rem;
        max-width: 100vw;
        padding: 0 5% 0 5%;
        text-align: center;
    }


    #curiosidades{
        display: flex;
        flex-direction: column;
    }
    #curiosidades div{
        display: flex;
        width: 100vw;
    }
    #curiosidades h2{
        font-size: 2rem;
        text-align: center;
    }
    #curiosidades li{
        font-size: 1.2rem;
        width: 80vw;
        margin: 3vh 0 0 7vw;
    }
    .spotify{  
        width: 80vw;
        height: 25vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        height: 15vh;
    }
    .text{
        display: flex;
        justify-content: center;
        margin-top: 4vh;
        margin-left: 10%;
        margin-bottom: 3vh;
    }
    .redeSocial{
        display: flex;
        margin-left: 0;
        gap: 6vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header{
        height: 10vh;
    }
    #nav a{
        display: none;
    }
    #menuButton{
        display: block;
    }

    .logoCelular{
        display: block;
        margin-left: 5vw;
    }
    .logoDesktop{
        display: none;
    }

    #principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fotoPrincipal{
        width: 100vw;
        height: 70vh;
    }
    .textPrincipal{
        display: flex;
        justify-content: center;
        height: 10vh;
        max-width: 45vw;
    }


    #biografia{
        display: flex;
    }
    .imgBio{
        display: flex;
        margin-top: 5vh;
        align-self: center;
        margin-bottom: 2vh;
    }
    .textBio{
        margin-top: 4vh;
        margin-bottom: 5vh;
    }
    .textBio h1{
        display: block;
        font-size: 2rem;
    }
    .textBio p{
        font-size: 1.1rem;
        margin: 3vh 5vw 0 5vw;
        height: 100%;
    }


    #curiosidades{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #curiosidades div{
        width: 80vw;

    }
    #curiosidades h2{
        font-size: 2rem;
    }
    #curiosidades li{
        font-size: 1.3rem;
        width: 80vw;
        margin-left: 0;

    }
    .spotify{
        height: 40vh;
        width: 80vw;
        margin-top: 4vh;
        margin-bottom: 5vh;
    }

    .text{
        width: 80%;
    }
}
@media (min-width: 992px){
    header{
        width: 100%;
        height: 10vh;
    }
    #menuButton{
        display: none;
    }
    .logoCelular{
        display: block;
        margin-left: 5vw;
    }
    .logoDesktop{
        display: none;
    }

    .fotoPrincipal{
        height: 75vh;
    }

    .textBio p{
        font-size: 1.3rem;
    }

    #curiosidades li{
        font-size: 1.3rem;
    }

    .spotify{
        height: 57vh;
        width: 35vw;
    }

}
@media (min-width: 1200px){
    .logoCelular{
        display: none;
    }
    .logoDesktop{
        display: block;
    }

    .text{
        display: flex;
        justify-content: center;
    }
    .redeSocial{
        margin-left: 20vw;
        gap: 4vw;
    }
}

