#menuButton{
    display: none;
    width: 50px;
}
.logoCelular{
    display: none;
}
@media (max-width: 768px){
    header{
        height: 10vh;
    }
    .logoCelular{
        display: block;
    }
    .logoDesktop{
        display: none;
    }
    .menuButton{
        display: block;
    }
    #nav a{
        display: none;
    }

    .fotoPrincipal{
        height: 70vh;
    }

    .textPrincipal{
        display: flex;
        margin-top: 2vh;
        text-align: center;
        font-size: 1.5rem;
    }
    #botaoRolagem{
        margin-top: 2vh;
    }
    .textBio{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 0;
        gap: 85vh;
        width: 100vw;
    }
    .imgBio{
        width: 100vw;
        height: 80vh;
        margin: 0;
        margin-top: 15vh;
    }
    .textBio h1{
        font-size: 2rem;
        margin-top: 7vh;
    }
    .textBio p{
        font-size: 1.2rem;
        max-width: 90vw;
        margin-left: 5vw;
    }
    #curiosidades{
        display: flex;
        flex-direction: column;
        
        margin-top: 150vh;
    }
    #curiosidades div{
        display: flex;
        width: 100vw;
        height: 60vh;
    }
    #curiosidades h2{
        font-size: 2rem;
        text-align: center;
    }
    #curiosidades li{
        font-size: 1.2rem;
        width: 80vw;
        margin: 3vh 0 0 7vw;
    }

    .spotify{
        margin-top: 70vh;
        width: 80vw;
        height: 25vh;
        margin-bottom: 10vh;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header{
        height: 10vh;
    }
    #nav a{
        display: none;
    }
    .menuButton{
        display: block;
    }
    #nav.active a{
        display: flex;
    }

    .logoCelular{
        display: block;
        margin-left: 5vw;
    }
    .logoDesktop{
        display: none;
    }

    #principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fotoPrincipal{
        width: 100vw; /*Depois trocar a foto para não ficar feia*/
        height: 70vh;
    }
    .textPrincipal{
        display: flex;
        justify-content: center;
        height: 10vh;
        max-width: 45vw;
    }
    .imgBio{
        display: flex;
        margin-top: 5vh;
        align-self: center;
        margin-bottom: 2vh;
    }
    .textBio{
        margin-top: 4vh;
        margin-bottom: 5vh;
    }
    .textBio h1{
        display: block;
        font-size: 2rem;
    }
    .textBio p{
        font-size: 1rem;
        margin: 0 5vw 0 5vw;
        height: 100%;
    }


    #curiosidades{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #curiosidades div{
        width: 80vw;
        height: 70vh;
    }
    #curiosidades h2{
        font-size: 2rem;
    }
    #curiosidades li{
        font-size: 1.3rem;
        width: 80vw;
        margin-left: 0;

    }
    .spotify{
        height: 40vh;
        width: 80vw;
        margin-top: 4vh;
        margin-bottom: 5vh;
    }

    .text{
        width: 80%;
    }
}
@media (min-width: 992px){
    header{
        width: 100%;
        height: 10vh;
    }
    .menuButton{
        display: none;
    }
    .logoCelular{
        display: block;
        margin-left: 5vw;
    }
    .logoDesktop{
        display: none;
    }

    .fotoPrincipal{
        height: 75vh;
    }

    .textBio p{
        font-size: 1.3rem;
    }

    #curiosidades li{
        font-size: 1.3rem;
    }

    .spotify{
        height: 57vh;
        width: 35vw;
    }

}
@media (min-width: 1200px){
    .logoCelular{
        display: none;
    }
    .logoDesktop{
        display: block;
    }
}
