@font-face {
    font-family: 'prestige-elite-std';
    src: url(font/prestige-elite-std.otf);
}
@font-face {
    font-family: 'teste';
    src: url(font/NeueHaasDisplayRomanItalic.ttf);
}


.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F7A8C;
    height: 10vh;
}
.text{
    display: flex;
    font-size: 2.5vh;
    font-family: teste;
    font-weight: 500;
    align-items: center;
    justify-content: flex-end;
    width: 59%;
}
.redeSocial{
    display: flex;
    justify-content: flex-end;
    width: 41%;
    align-items: center;
    gap: 2rem;
    height: 100%;
    margin: 0 2rem 0 0;
}
.iconRedeSocial{
    width: 5vh;
}
